@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    margin: 0;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12vw;
    background-color: #333333;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #666666;
    color: white;
}

li a:hover:not(.active) {
    background-color: #4c4c4c;
    color: white;
}


h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 2vh;
    color: #4c4c4c;
}


.row{

    color: black;
    display: flex;
    justify-content: center; /* alineacion horizontal --*/
    align-items: center; /* alineacion vertical |*/
    width: 600px;
    margin: 0 auto; /*para centrar un elemento con anchura fija horizontalmente*/
    margin-top: 10px;
}

hr {

    color: black;
    width: 100%;
    text-align: left;
    background: linear-gradient(to right, blue, red); /* linear-gradient para unir 2 colores;*/
    margin-bottom: -5px;   
}


.botones button {
  margin-left: 10%;
}


a.btn-danger {
   margin-left:15vw
}

.nav-icon {
    color: #cc0033; 
    margin-right: 1vw
}

.nav-text {
    display: inline-block; 
    margin-bottom: 0
}

.container {
  
  margin-left: 0; /* Elimina el margen izquierdo predeterminado */
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  margin-top: 0;
}

.form-select {
  width: 98%;
}


#mensaje {
  width: 120%;
   margin-bottom: 0;
}


label[for="entrenadores"] + select {
  margin-top: 0.25rem;
}
