@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Righteous&display=swap');
body {
    background: rgba(12,12,12,0.5);
    margin: 0;
}

nav {
    background-color: rgba(1, 1, 1, 0.5);
}

li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white !important;
}

li a:hover:not(.active) {
    color: crimson !important;
}

.brand-font {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.pregunta{
    font-family: 'Open Sans', sans-serif;
    
}

.heading_foro{
    margin-bottom: 10px; 
}
.title_field{
    
}

.heading_foro{
    color:#ffc107;
}

.response{
    font-family: 'Open Sans', sans-serif;
    color:#ffc107;
    padding-left: 70%;
    margin-bottom: 150%;

}