body {
    background: url("../images/fondoIndex.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

nav {
    background: #161616;
    padding: 2vh;
}

li a {
    color: white !important;
}

.image {
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: 160px;
    flex: 1;
}

