/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 26, 2023, 1:45:41 AM
    Author     : aaron
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    position: relative;
    width:100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(12,12,12,0.5);
    font-family:'Open Sans', sans-serif;
}

.form{
    width:400px;
    height: auto;
    color: white;
    font-family:'Open Sans', sans-serif;
}

.heading{
    text-transform: capitalize;
    
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #ffc107;
}

input,
.submit-btn{
    width:80%;
    height:35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border:none;
    color: white;
    padding: 15px;
    transition: .5s;
}

.submit-btn{
    background: #ffc107;
}

input::placeholder{
    color:white;
}
input:focus,
.submit-btn:hover{
    background: white;
    color: #000;
}

input:focus::placeholder{
    color:#000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor:pointer;
    margin: 50px auto 0;
}

.link{
    text-align: center;
    text-transform: capitalize;
    color: white;
    display: block; 
    margin: 30px auto;
}

.link:hover{
    color: #ffc107;
}

.alert-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width:auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255,119,119);
    border-top: 10px solid rgb(255,37,37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    transition: 1s;
}
