@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Righteous&display=swap');
body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(../images/fondomembresia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgba(1, 1, 1, 0.5);
}

li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white !important;
}

li a:hover:not(.active) {
    color: crimson !important;
}

.brand-font {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

h1{
    margin-top:70px;
}

.p {
    margin: 10px auto;
    background-color: rgba(29, 43, 53, 0.6);
    max-width: 30%;
}

hr {
    width: 30%;
    margin: 0 auto;
    background: linear-gradient(to right, blue, white); /* linear-gradient para unir 2 colores;*/
    border: none;
    border-top: 3px solid white;
}

.image {
    width:25%;
    height:auto;
    position:absolute;
    bottom:50px;
    right:160px;
    flex:1;
}

.container {
    text-align: center;
    color:white;
}

.mensualidad{
    float: left;
    margin-top: 150px;
    float: right;
    padding: 10px;
    background-color: #1D2B35;
    opacity: 0.8;
    margin-right: 5%;
    margin-bottom: 20px;
}

.espacio1_1{
    margin-top: 20px;
}

h2{
    font-size: 16px;
    font-weight: bold;
}

.semestre {
    margin-top: 80px;
    float: right;
    padding: 10px;
    background-color: #1D2B35;
    opacity: 0.8;
    margin-right: 5%;
    margin-bottom: 20px;
}

.espacio1_2{
    margin-top: 20px;
}

.anualidad {
    margin-top: 30px;
    float: right;
    padding: 10px;
    background-color: #1D2B35;
    opacity: 0.8;
    margin-bottom: 20px;
}

.espacio1_3{
    margin-top: 20px;
}
.table {
    margin: auto;
    color:white;
}

.mensualidad {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

.semestre, .anualidad, .semestre {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
