@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Righteous&display=swap');

body {
    background-color: #141414;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

}

nav {
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1em;
}

.dropdown-item:hover {
  background-color: #212529;
}

.home-logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    display: inline-block;
}

mark.crimson {
    color: crimson;
    background-color: rgba(0, 0, 0, 0);
}

li a {
    font-family: 'Open Sans', sans-serif;
    color: white !important;
}

.image {
    width: 32%;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: 160px;
    flex: 1;
}

.container {
    text-align: center;
    color: white;
}

.espacio {
    margin-top: 30px;
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

li a {
    color: white !important;
}

.espacios {
    margin-top: 10px;
}


.espacio1 {
    margin-top: 40px;
}

.espacio1_2 {
    margin-top: 10px;

}

.espacio2 {
    margin-top: 40px;
}

.espacio2_2 {
    margin-top: 10px;
}

.table {
    margin: auto;
    color: white;
}

p {
    color: white;
    text-align: center;
}