<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Anuncio - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/anuncioCU.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>    
            <nav>
                <ul>
                    <li>
                        <a href="usuario">
                            <i class="bi bi-person-fill nav-icon"></i>
                            <p th:text="#{navadmin.usuario}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="cliente">
                            <i class="bi bi-person-vcard nav-icon"></i>
                            <p th:text="#{navadmin.cliente}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a class="active" href="anuncio">
                            <i class="bi bi-badge-ad-fill nav-icon"></i>
                            <p th:text="#{navadmin.anuncio}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="contacto">
                            <i class="bi bi-person-rolodex nav-icon"></i>
                            <p th:text="#{navadmin.contacto}" class="nav-text"></p>
                        </a>
                    </li>
                       <li>
                        <a class="active" href="contactar">
                            <i class="bi bi-person-badge-fill nav-icon" ></i>
                            <p th:text="#{navadmin.contactar}" class="nav-text"></p>
                        </a>
                    </li>
                     <li><a href="reserva">
                            <i class="bi bi-calendar-check nav-icon"></i>
                            <p th:text="#{navadmin.reserva}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="/">
                            <i class="bi bi-box-arrow-left nav-icon"></i>
                            <p th:text="#{navadmin.salir}" class="nav-text"></p>
                        </a>
                    </li>
                    <li style="margin-top: 235%">
                        <a th:text="#{navadmin.es}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                           th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}" style="color: white"></a>
                        <a th:text="#{navadmin.en}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                           th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}" style="color: white"></a>             
                    </li>
                </ul>
            </nav>
        </header>
        <div class="contenedor">
            <h2 th:text="#{anuncio.tituloCU}"></h2>
            <hr class="horizontal-line">
            <form th:action="@{/guardarAnuncio}" th:object=${anuncio} method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="sub-contenedor">
                    <div class="mb-3">
                        <label th:text="#{anuncio.tituloColumna}" for="formGroupTitulo" class="form-label form-group-label"></label>
                        <input th:field="*{titulo}" type="text" class="form-control form-group-input" id="titulo" th:placeholder=#{anuncio.tituloColumna} required>
                    </div>
                    <div class="mb-3">
                        <label th:text="#{anuncio.fecha}" for="formGroupFecha" class="form-label form-group-label"></label>
                        <input th:field="*{fecha}" type="text" class="form-control form-group-input" id="fecha" placeholder="DD/MM/AAAA" required>
                    </div>
                    <div class="mb-3">
                        <label th:text="#{anuncio.mensaje}" for="formGroupMensaje" class="form-label form-group-label"></label>
                        <textarea th:field="*{mensaje}" type="text" class="form-control " rows="4" id="mensaje" style="width: 30vw"required></textarea>
                    </div>
                    <div class="mb-3">
                        <label th:text="#{anuncio.imagen}" for="formGroupImagen" class="form-label form-group-label"></label>
                        <input th:field="*{imagen}" type="text" class="form-control" id="imagen" placeholder="URL" style="width: 40vh" required>
                    </div>
                    <div style="margin-top: 10vh">
                        <button th:text="#{anuncio.boton_guardar}" type="submit" class="btn btn-primary btn-lg" value="Guardar"></button>
                        <a th:text="#{anuncio.boton_cancelar}" type="submit" class="btn btn-danger btn-lg" th:href="@{/anuncio}" style="margin-left: 15vw"></a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>

