<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Cliente - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/anuncioCU.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="usuario">
                            <i class="bi bi-person-fill" style="color: #cc0033; margin-right: 1vw"></i>
                            Usuario</a></li>
                    <li><a class="active" href="#">
                            <i class="bi bi-person-vcard" style="color: #cc0033; margin-right: 1vw"></i>
                            Cliente</a></li>
                    <li><a href="anuncio">
                            <i class="bi bi-badge-ad-fill" style="color: #cc0033; margin-right: 1vw"></i>
                            Anuncio</a></li>
                    <li><a href="contacto">
                            <i class="bi bi-person-rolodex" style="color: #cc0033; margin-right: 1vw"></i>
                            Contacto</a></li>
                    <li><a href="/">
                            <i class="bi bi-box-arrow-left" style="color: #cc0033; margin-right: 1vw"></i>
                            Salir</a></li>
                </ul>
            </nav>
        </header>
        <div class="contenedor">
            <h2 th:text="${titulo}"></h2>
            <hr class="horizontal-line">
            <form th:action="@{/guardarCliente}" th:object=${cliente} method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="sub-contenedor">
                    <div class="mb-3">
                        <label for="formGroupNombre" class="form-label form-group-label">Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control form-group-input" id="nombre" placeholder="Digitar el Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupApellidos" class="form-label form-group-label">Apellidos</label>
                        <input th:field="*{apellido1}" type="text" class="form-control form-group-input" id="apellido1" placeholder="Apellido 1" required>
                        <input th:field="*{apellido2}" type="text" class="form-control form-group-input" id="apellido2" placeholder="Apellido 2" style="margin-left: 1vw" required>
                    </div>
                    <div style="display: block">
                        <div class="mb-3" style="display: inline-block">
                            <label for="formGroupCedula" class="form-label form-group-label">Cédula</label>
                            <input th:field="*{cedula}" type="text" class="form-control form-group-input" id="cedula" placeholder="X-XXXX-XXXX" required>
                        </div>
                        <div class="mb-3" style="display: inline-block; margin-left: 1vw">
                            <label for="formGroupEmail" class="form-label form-group-label">Email</label>
                            <input th:field="*{email}" type="text" class="form-control" id="email" placeholder="XXX@XXX.com" style="width: 40vh" required>
                        </div>
                    </div>
                    <div style="display: block">
                        <div class="mb-3" style="display: inline-block">
                            <label for="formGroupTelefono" class="form-label form-group-label">Teléfono</label>
                            <input th:field="*{telefono}" type="text" class="form-control form-group-input" id="telefono" placeholder="XXXX-XXXX" required>
                        </div>
                        <div class="mb-3" style="display: inline-block; margin-left: 1vw">
                            <label for="formGroupFecha" class="form-label form-group-label">Fecha</label>
                            <input th:field="*{fecha}" type="text" class="form-control form-group-input" id="fecha" placeholder="DD/MM/AAAA" required>
                        </div>
                    </div>
                    <div style="margin-top: 10vh">
                        <button type="submit" class="btn btn-primary btn-lg" value="Guardar">Guardar</button>
                        <a type="submit" class="btn btn-danger btn-lg" th:href="@{/cliente}" style="margin-left: 15vw">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <footer th:replace="plantilla/template::footer"></footer>
</html>