<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Contactar - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="css/contactarEntrenador.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>    
               <nav th:replace="plantilla/template::navbar"></nav>
        </header>
        

            <div class="container">

                <form style="margin-top: 100px" th:action="@{/guardarContactar}" th:object=${contactarlos} method="POST">

                 
                    <input type="hidden" th:field="*{id}">
                     
                    <div class="row g-3">
                        <div class="col">
                            <label th:text="#{contactar.nombre}" for="nombreU" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.nombre}" aria-label="Nombre" id="nombreU" th:field="*{nombreU}"required>
                        </div>

                        <div class="col">
                            <label th:text="#{contactar.correo}" for="correo" class="form-label">Correo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="email" class="form-control" th:placeholder="#{contactar.correo}" aria-label="Correo" id="email" th:field="*{email}"required>
                            </div>
                        </div>
                    </div>


                    <div class="row g-3">

                        <label th:text="#{contactar.entrenador}" for="entrenadores" class="form-label">Entrenadores</label>
                        <select class="form-select" name="entrenadores.id" required>
                           <option th:text="#{contactar.select}"></option>
                            <th:block th:each="entrenador : ${entrenadores}">
                                <option th:value="${entrenador.id}" th:text="${entrenador.nombre}" th:selected="${entrenador.id == idEntrenador}"></option>
                            </th:block>
                        </select>



                        <div class="form-group">
                            <label th:text="#{contactar.mensaje}"for="mensaje" class="col-sm-2 col-form-label">Mensaje</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="mensaje" name="mensaje"  th:placeholder="#{contactar.msj}"  required rows="5">[[${mensaje}]]</textarea>
                            </div>
                        </div>


                    </div>
            </div>

            <div class = "botones" style="margin-top: 7vh">
                <button th:text="#{contactar.save}"type="submit" class="btn btn-primary btn-lg" value="Guardar">Guardar</button>
                <a th:text="#{contactar.cancelar}" type="submit" class="btn btn-danger btn-lg" th:href="@{/contactarEntrenador}">Cancelar</a>
            </div>
        </form> 

</div>
</body>
</html>
