<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Foro - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/crearForo.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="margin-left:12%;padding:1px 16px;height:1000px;">
            <div class="container">
                <form th:action="@{/guardarForo}" throws:object="${foro}" method="POST">
                    <h1 th:text="#{foro.tituloCU}">Crear Foro</h1>
                    <hr>
                    <input type="hidden" th:field="*{id}">
                    <div class="row g-3">
                        <div class="col">
                            <label th:text="#{foro.titulo}" for="titulo" class="form-label">Titulo</label>
                            <input type="text" class="form-control" th:placeholder="#{foro.titulo}" aria-label="Titulo" id="titulo" th:field="*{titulo}">
                        </div>
                        <div class="col">
                            <label th:text="#{foro.autor}" for="autor" class="form-label">Autor</label>
                            <input type="text" class="form-control" th:placeholder="#{foro.autor}" aria-label="Autor" id="autor" th:field="*{autor}">
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{foro.mensaje}" for="mensaje" class="col-sm-2 col-form-label">Mensaje</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="mensaje" name="mensaje" th:placeholder="#{foro.mensaje}" required rows="3">[[${mensaje}]]</textarea>>
                                </div>
                            </div> 
                        </div>
                    </div>
            </div>
            
            <div class="boton" style="margin-top: 7vh">
                <button th:text="#{foro.save}" type="submit" class="btn btn-primary btn-lg" value="Crear">Crear</button>
                <a th:text="#{foro.cancelar}" type="submit" class="btn btn-primary btn-lg" th:ref="@{/foro}">Cancelar</a>
            </div>
        <form>
    </body>
</html>
