<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Contacto - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="css/contacto.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="usuario">
                            <i class="bi bi-person-fill" style="color: #cc0033; margin-right: 1vw"></i>
                            Usuario</a></li>
                    <li><a href="cliente">
                            <i class="bi bi-person-vcard" style="color: #cc0033; margin-right: 1vw"></i>
                            Cliente</a></li>
                    <li><a href="anuncio">
                            <i class="bi bi-badge-ad-fill" style="color: #cc0033; margin-right: 1vw"></i>
                            Anuncio</a></li>
                    <li><a class="active" href="#">
                            <i class="bi bi-person-rolodex" style="color: #cc0033; margin-right: 1vw"></i>
                            Contacto</a></li>
                    <li><a href="/">
                            <i class="bi bi-box-arrow-left" style="color: #cc0033; margin-right: 1vw"></i>
                            Salir</a></li>
                </ul>
            </nav>
        </header>
        <div style="margin-left:12%;padding:1px 16px;height:1000px;">

            <div class="container">

                <form th:action="@{/guardarContacto}" th:object=${contacto} method="POST">

                    <h1>Crear Contacto</h1>
                    <hr>

                    <input type="hidden" th:field="*{id}">

                     
                    <div class="row g-3">
                        <div class="col">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" id="nombre" th:field="*{nombre}">
                        </div>
                        <div class="col">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" id="apellidos" th:field="*{apellidos}">
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col">
                            <label for="provincia" class="form-label">Provincia</label>
                            <input type="text" class="form-control" placeholder="Provincia" aria-label="Provincia" id="provincia" th:field="*{provincia}">
                        </div>
                        <div class="col">
                            <label for="ubicacion" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" placeholder="Ubicación" aria-label="Ubicación" id="ubicacion" th:field="*{ubicacion}">
                        </div>
                    </div>


                    <div class="row g-3">
                        <div class="col">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" id="telefono" th:field="*{telefono}">
                        </div>
                        <div class="col">
                            <label for="correo" class="form-label">Correo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="email" class="form-control" placeholder="Correo" aria-label="Correo" id="correo" th:field="*{email}">
                            </div>
                        </div>
                    </div>

            </div>

            <div class = "botones" style="margin-top: 10vh">
                <button type="submit" class="btn btn-primary btn-lg" value="Guardar">Guardar</button>
                <a type="submit" class="btn btn-danger btn-lg" th:href="@{/contacto}">Cancelar</a>
            </div>
        </form> 

    </div>

</div>
</body>
    <footer th:replace="plantilla/template::footer"></footer>
</html>
