<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Contacto - Staff Gym</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/contacto.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>    
            <nav>
                <ul>
                    <li>
                        <a href="usuario">
                            <i class="bi bi-person-fill nav-icon"></i>
                            <p th:text="#{navadmin.usuario}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="cliente">
                            <i class="bi bi-person-vcard nav-icon"></i>
                            <p th:text="#{navadmin.cliente}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="anuncio">
                            <i class="bi bi-badge-ad-fill nav-icon"></i>
                            <p th:text="#{navadmin.anuncio}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a class="active" href="contacto">
                            <i class="bi bi-person-rolodex nav-icon"></i>
                            <p th:text="#{navadmin.contacto}" class="nav-text"></p>
                        </a>
                    </li>
                       <li>
                        <a class="active" href="contactar">
                            <i class="bi bi-person-badge-fill nav-icon" ></i>
                            <p th:text="#{navadmin.contactar}" class="nav-text"></p>
                        </a>
                    </li>
                     <li><a href="reserva">
                            <i class="bi bi-calendar-check nav-icon"></i>
                            <p th:text="#{navadmin.reserva}" class="nav-text"></p>
                        </a>
                    </li>
                    <li><a href="/">
                            <i class="bi bi-box-arrow-left nav-icon"></i>
                            <p th:text="#{navadmin.salir}" class="nav-text"></p>
                        </a>
                    </li>
                    <li style="margin-top: 235%">
                        <a th:text="#{navadmin.es}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                           th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}" style="color: white"></a>
                        <a th:text="#{navadmin.en}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                           th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}" style="color: white"></a>             
                    </li>
                </ul>
            </nav>
        </header>
        <div style="margin-left:12%;padding:1px 16px;height:1000px;">

            <div class="container">

                <form th:action="@{/guardarContacto}" th:object=${contacto} method="POST">

                    <h1 th:text="#{contacto.tituloCU}">Crear Contacto</h1>
                    <hr>

                    <input type="hidden" th:field="*{id}">

                     
                    <div class="row g-3">
                        <div class="col">
                            <label th:text="#{contacto.nombre}"for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.nombre}" aria-label="Nombre" id="nombre" th:field="*{nombre}">
                        </div>
                        <div class="col">
                            <label th:text="#{contacto.apellidos}" for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.apellidos}" aria-label="Apellidos" id="apellidos" th:field="*{apellidos}">
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col">
                            <label th:text="#{contacto.provincia}" for="provincia" class="form-label">Provincia</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.provincia}" aria-label="Provincia" id="provincia" th:field="*{provincia}">
                        </div>
                        <div class="col">
                            <label th:text="#{contacto.ubicacion}" for="ubicacion" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.ubicacion}" aria-label="Ubicación" id="ubicacion" th:field="*{ubicacion}">
                        </div>
                    </div>


                    <div class="row g-3">
                        <div class="col">
                            <label th:text="#{contacto.telefono}" for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" th:placeholder="#{contacto.telefono}" aria-label="Teléfono" id="telefono" th:field="*{telefono}">
                        </div>
                        <div class="col">
                            <label th:text="#{contacto.correo}" for="correo" class="form-label">Correo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="email" class="form-control" th:placeholder="#{contacto.correo}" aria-label="Correo" id="correo" th:field="*{email}">
                            </div>
                        </div>
                    </div>

            </div>

            <div class = "botones" style="margin-top: 7vh">
                <button th:text="#{contacto.save}" type="submit" class="btn btn-primary btn-lg" value="Guardar">Guardar</button>
                <a th:text="#{contacto.cancelar}" type="submit" class="btn btn-danger btn-lg" th:href="@{/contacto}">Cancelar</a>
            </div>
        </form> 

    </div>

</div>
</body>
</html>
