<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Staff Gym - Ejercicios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="css/ejercicios.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <header th:fragment="header" class="header-size">
                <nav th:replace="plantilla/template::navbar"></nav>
                <h1 th:text="#{ejercicio.titulo}"></h1>
                <div style="text-align: center">
                    <a th:text="#{ejercicio.ver}" type="button" href="#scroll-target" class="btn btn-outline-light btn-lg" style="justify-content: center; margin-top: 15vh;"></a>
            </header>
            <div class="row row-cols-1 row-cols-md-3 g-4 cardsgroup-margin">
                <th:block th:each="ejercicio : ${ejercicios}">
                    <div class="col">
                        <div id="scroll-target" class="card h-100 card-background-color">
                            <div class="card-body">
                                <div style="display: block">
                                    <h5 class="card-title card-text-color" th:text="#{ejercicio.tituloEjercicios}"></h5>
                                    <h5 class="card-title card-text-color card-subtitle" th:text="${ejercicio.getTitulo}"></h5>
                                    <h5 class="card-title card-text-color card-margin-title" th:text="#{ejercicio.categoriaEjercicios}"></h5>
                                    <h5 class="card-title card-text-color card-subtitle" th:text="${ejercicio.getCategoria}"></h5>
                                </div>
                                <hr style="color: white">
                                <div style="display: block; margin: 1em">
                                    <h6 class="card-title card-text-color" th:text="${ejercicio.getTiempo}"></h6>
                                    <h6 class="card-title card-text-color card-margin-title" th:text="#{ejercicio.tiempoMin}"></h6>
                                </div>
                                <p class="card-text card-text-color" th:text="${ejercicio.getInstrucciones}"></p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </body>
</html>

