<!DOCTYPE html>

<head><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/imc.css"/>
</head>

<body>
<div class = tela>
<h1>Calculadora IMC</h1>

<form>
<p>Digite su nombre</p>
</form>
<input id='nombre' type='text'/>
<form>
<p>Digite su peso</p>
</form>
<input id='peso' type='number'/>

<span>Kg</span>
<div>
<p>Digite su altura</p>
<input id='altura' type='number'/>

 <span>Cm</span>
</div>
<div>
<input id='btn_calcular' class='bo' type="button" value="Calcular">
</div>
<div id="resultado"></div>
</div>
</body>
<script src="imc.js"></script>
</html>