<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Staff Gym - Membresías</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="css/membresia.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <header>
                <nav th:replace="plantilla/template::navbar"></nav>
            </header>
        </div>
        <div class="container">
            <div style="text-align: center; padding-top: 1rem"> </div>  
            <h1 th:text="#{membresia.titulo}"></h1>
            <hr>
            <p th:text="#{membresia.frase} " class ="p"></p> 
            <div class="anualidad">
                <h2>ANUALIDAD</h2>       
                <div class="espacio1_3">   
                    <p th:text="#{membresia.frase}"></p>
                    <p th:text="#{membresia.curso}"></p>
                    <p th:text="#{membresia.ilit}"></p>
                     <p th:text="#{membresia.costoA}"></p>    
                     <a class="btn btn-primary" type="reset" th:text="#{membresia.add}" href="cancelar"></a>
                </div>
            </div>
            <div class="semestre">
                <h2>SEMESTRAL</h2>       
                <div class="espacio1_2">   
                    <p th:text="#{membresia.frase}"></p>
                    <p th:text="#{membresia.curso}"></p>
                    <p th:text="#{membresia.ilit}"></p>
                     <p th:text="#{membresia.costoS}"></p>
                  <a class="btn btn-primary" type="reset" th:text="#{membresia.add}" href="cancelar"></a>
                </div>
            </div>
            <div class="mensualidad">
                <h2>MENSUALIDAD</h2>            
                <div class="espacio1_1">   
                    <p th:text="#{membresia.frase}"></p>
                    <p th:text="#{membresia.curso}"></p>
                    <p th:text="#{membresia.ilit}"></p>
                    <p th:text="#{membresia.costoM}"></p>
                     <a class="btn btn-primary" type="reset" th:text="#{membresia.add}" href="cancelar"></a>
                </div>
            </div>
        </div>
    </body>
</html>
