<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"><!-- comment -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="css/productos.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <title>Staff Gym - Productos</title>
    </head>
    <div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand brand-font" href="/">Staff<span class="text-danger"> Gym</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-ite  m">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nosotros.html">Acerca</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="crearReserva.html">Reservar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="membresia.html">Membresías</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="foro.html">Foro</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="gallery">
                <div class="content">
                    <img src="images/proteinaUno.jpg" alt="">
                    <h3>Proteína Whey</h3>
                    <p>Sabor Cookies & Cream de Foodspring</p>
                    <h6>₡19.138</h6>
                    <button class="buy-1">Comprar ahora</button>

                </div>
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDos.jpg" alt="">
                    <h3>Batido de proteínas</h3>
                    <p>Sabor Milkshake de Barebells</p>
                    <h6>₡17.138</h6>

                    <button class="buy-2">Comprar ahora</button>
                </div>   
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaTres.jpg" alt="">
                    <h3>Mezcla de proteína</h3>
                    <p>Suero Whey</p>
                    <h6>₡10.138</h6>

                    <button class="buy-3">Comprar ahora</button>
                </div>   
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaCuatro.jpg" alt="">
                    <h3>Batido de proteínas </h3>
                    <p>Whey Protein chocolate blanco de Scitec Nutritio</p>
                    <h6>₡24.138</h6>

                    <button class="buy-4">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaCinco.jpg" alt="">
                    <h3>Concentrado de proteína</h3>
                    <p>Serious Mass de Optimum Nutrition</p>
                    <h6>₡35.138</h6>

                    <button class="buy-5">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaSeis.jpg" alt="">
                    <h3>Batido de proteínas en polvo</h3>
                    <p>suero Evowhey 2.0 de HSN</p>
                    <h6>₡35.000</h6>


                    <button class="buy-6">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaSiete.jpg" alt="">
                    <h3>Concentrado de proteína</h3>
                    <p>Gold Standard 100% Whey de Optimum Nutrition</p>
                    <h6>₡37.138</h6>

                    <button class="buy-7">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaOcho.jpg" alt="">
                    <h3>Batido de proteínas y adelgazante</h3>
                    <p>Fit Body Plus</p>
                    <h6>₡21.130</h6>

                    <button class="buy-8">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaNueve.jpg" alt="">
                    <h3>Batido de proteínas Vegan </h3>
                    <p>Protein 3K de NU3</p>
                    <h6>₡20.130</h6>

                    <button class="buy-9">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDiez.jpg" alt="">
                    <h3>Batido de proteínas</h3>
                    <p>Bajo en carbohidratos de Body Attack</p>
                    <h6>₡20.000</h6>

                    <button class="buy-10">Comprar ahora</button>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaOnce.jpg" alt="">
                    <h3>Weider Proteína 100% vegetal</h3>
                    <p>Guisantes y arroz</p>
                    <h6>₡16.000</h6>

                    <button class="buy-11">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDoce.jpg" alt="">
                    <h3>Bimanán Befit Batido de proteínas</h3>
                    <p>Sabor Chocolate </p>
                    <h6>₡16.000</h6>

                    <button class="buy-12">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaTrece.jpg" alt="">
                    <h3>SOTYA - SOTYA Proteína Soja 90%</h3>
                    <p>Fresa 500 gr</p>
                    <h6>₡8.000</h6>

                    <button class="buy-13">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/sustituo.jpg" alt="">
                    <h3>Batido sustitutivo de comidas</h3>
                    <p>Active Shake de XLS</p>
                    <h6>₡29.000</h6>

                    <button class="buy-14">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botella.jpg" alt="">
                    <h3>Botella de agua medio galón/64 oz</h3>
                    <p>Con marcador motivacional y tiempo y pajita, botella de tritan, para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-15">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaDos.jpg" alt="">
                    <h3>MEITAGIE</h3>
                    <p>Botella de agua motivacional de 32 oz con marcador de tiempo y colador de frutas</p>
                    <h6>₡8.000</h6>

                    <button class="buy-16">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaCuatro.jpg" alt="">
                    <h3>Fimibuke Botella de agua de medio galón con funda </h3>
                    <p>Botella de agua de 64 oz con pajita y marcador de tiempo a prueba de fugas</p>
                    <h6>₡14.000</h6>

                    <button class="buy-17">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaCinco.jpg" alt="">
                    <h3>YOUCAN PLATO</h3>
                    <p>Botella de agua de medio galón de 64 onzas con funda</p>
                    <h6>₡14.000</h6>

                    <button class="buy-18">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaSeis.jpg" alt="">
                    <h3>Botella de agua de cristal de 2.1 lbs</h3>
                    <p>Con tapa de silicona a prueba de fugas</p>
                    <h6>₡10.000</h6>

                    <button class="buy-19">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaSiete.jpg" alt="">
                    <h3>VOLTRX Botella eléctrica</h3>
                    <p>Botella  mezclar batidos con proteínas</p>
                    <h6>₡15.000</h6>

                    <button class="buy-20">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellas.jpg" alt="">
                    <h3>10 botellas de agua de aluminio de 20 onzas</h3>
                    <p>Botellas reutilizables de aluminio, ligeras, con tapa a presión</p>
                    <h6>₡21.000</h6>

                    <button class="buy-21">Comprar ahora</button>
                </div>
                <!-- ALMOHADILLAS --> 
                <div class="content">
                    <img src="images/almohadillas.jpg" alt="">
                    <h3>Gymletics Paquete de 7</h3>
                    <p>Almohadillas de sentadillas</p>
                    <h6>₡16.700</h6>
                    <button class="buy-22">Comprar ahora</button>
                </div>
                <div class="content">
                    <img src="images/rodilleras.jpg" alt="">
                    <h3>Gymreapers Rodilleras</h3>
                    <p>con correa para sentadillas, levantamiento de pesas</p>
                    <h6>₡10.700</h6>
                    <button class="buy-23">Comprar ahora</button>
                </div>
                <div class="content">
                    <img src="images/rodillerasUno.jpg" alt="">
                    <h3>Gymreapers Rodilleras</h3>
                    <p>con correa para sentadillas, levantamiento de pesas</p>
                    <h6>₡10.700</h6>
                    <button class="buy-24">Comprar ahora</button>
                </div>
                <div class="content">
                    <img src="images/bolso.jpg" alt="">
                    <h3>Bolsa de viaje para gimnasio</h3>
                    <p>Bolsa de viaje para gimnasio</p>
                    <h6>₡20.700</h6>
                    <button class="buy-25">Comprar ahora</button>
                </div>
                <div class="content">
                    <img src="images/bolsoUno.jpg" alt="">
                    <h3>Bolsa deportiva de gimnasio para mujer</h3>
                    <p>Bolsa deportiva de gimnasio para mujer</p>
                    <h6>₡15.700</h6>
                    <button class="buy-26">Comprar ahora</button>
                </div>

                <div class="content">
                    <img src="images/bolsoDOS.jpg" alt="">
                    <h3>PUMA Evercat Contender 3.0</h3>
                    <p>Bolsa deportiva de gimnasio</p>
                    <h6>₡15.700</h6>
                    <button class="buy-27">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaCinco.jpg" alt="">
                    <h3>Blusa deportiva de mujer</h3>
                    <p>Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-28">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisa.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-29">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaDos.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-30">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaNueve.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-31">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaTres.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-32">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaCuatro.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-33">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaDiez.jpg" alt="">
                    <h3>Camisas deportivas de hombre</h3>
                    <p>Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>

                    <button class="buy-34">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaOcho.jpg" alt="">
                    <h3>Blusa deportiva de mujer</h3>
                    <p>Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-36">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaUno.jpg" alt="">
                    <h3>Blusa deportiva de mujer</h3>
                    <p>Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-37">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaSeis.jpg" alt="">
                    <h3>Blusa deportiva de mujer</h3>
                    <p>Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-38">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaSiete.jpg" alt="">
                    <h3>Blusa deportiva de mujer</h3>
                    <p>Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-39">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalones.jpg" alt="">
                    <h3>Pantalones deportiva de mujer</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-40">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesSeis.jpg" alt="">
                    <h3>Pantalones deportiva de mujer</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-41">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesCinco.jpg" alt="">
                    <h3>Pantalones deportiva de mujer</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-42">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesUno.jpg" alt="">
                    <h3>Pantalones deportiva de mujer</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-43">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesDos.jpg" alt="">
                    <h3>Enagua deportiva de mujer</h3>
                    <p>Enagua deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-44">Comprar ahora</button>
                </div> 


                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesNueve.jpg" alt="">
                    <h3>Pantalones deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-45">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesOcho.jpg" alt="">
                    <h3>Pantalones deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-46">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesSiete.jpg" alt="">
                    <h3>Pantalones deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-47">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesCuatro.jpg" alt="">
                    <h3>Pantalones deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-46">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesTres.jpg" alt="">
                    <h3>Pantalones deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-46">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/brasier.jpg" alt="">
                    <h3>Brasier deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-47">Comprar ahora</button>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/calcetines.jpg" alt="">
                    <h3>Brasier deportiva de hombre</h3>
                    <p>Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-48">Comprar ahora</button>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/sueter.jpg" alt="">
                    <h3>Sueter deportiva de hombre</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-49">Comprar ahora</button>
                </div> 



                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisDos.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-50">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisTres.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-51">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisCuatro.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-52">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisCinco.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-53">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisSeis.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-54">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisSiete.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-55">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisOcho.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-56">Comprar ahora</button>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisNueve.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-57">Comprar ahora</button>
                </div>
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisUno.jpg" alt="">
                    <h3>Tennis deportivas</h3>
                    <p>Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>

                    <button class="buy-58">Comprar ahora</button>
                </div>
                </body>
                </html>