<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"><!-- comment -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="css/productos.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <title>Staff Gym - Productos</title>
    </head>
    <div>
        <header>
            <nav th:replace="plantilla/template::navbar"></nav>
            <div class="gallery">
                <div class="content">
                    <img src="images/proteinaUno.jpg" alt="">
                    <h3 th:text="#{producto.prot_whey}">Proteína Whey</h3>
                    <p th:text="#{producto.whey_sabor}">Sabor Cookies & Cream de Foodspring</p>
                    <h6>₡19.138</h6>
                    <a href="cancelar"><button class="buy-1" th:text="#{producto.comprar}">Comprar ahora</button></a>

                </div>
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDos.jpg" alt="">
                    <h3 th:text="#{producto.batido_prot}">Batido de proteínas</h3>
                    <p th:text="#{producto.batido_sabor}">Sabor Milkshake de Barebells</p>
                    <h6>₡17.138</h6>
                    <a href="cancelar"><button class="buy-2" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>   
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaTres.jpg" alt="">
                    <h3 th:text="#{producto.mezcla_1}">Mezcla de proteína</h3>
                    <p th:text="#{producto.whey_serum}">Suero Whey</p>
                    <h6>₡10.138</h6>
                    <a href="cancelar"><button class="buy-3" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>   
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaCuatro.jpg" alt="">
                    <h3 th:text="#{producto.batido_prot}">Batido de proteínas </h3>
                    <p th:text="#{producto.sabor_choco}">Whey Protein chocolate blanco de Scitec Nutrition</p>
                    <h6>₡24.138</h6>
                    <a href="cancelar"><button class="buy-4" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaCinco.jpg" alt="">
                    <h3 th:text="#{producto.concentrado}">Concentrado de proteína</h3>
                    <p th:text="#{producto.nutri}">Serious Mass de Optimum Nutrition</p>
                    <h6>₡35.138</h6>
                    <a href="cancelar"><button class="buy-5" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaSeis.jpg" alt="">
                    <h3 th:text="#{producto.polvo}">Batido de proteínas en polvo</h3>
                    <p th:text="#{producto.suero}">suero Evowhey 2.0 de HSN</p>
                    <h6>₡35.000</h6>
                    <a href="cancelar"><button class="buy-6" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaSiete.jpg" alt="">
                    <h3 th:text="#{producto.concentrado}">Concentrado de proteína</h3>
                    <p th:text="#{producto.optimum}">Gold Standard 100% Whey de Optimum Nutrition</p>
                    <h6>₡37.138</h6>
                    <a href="cancelar"><button class="buy-7" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaOcho.jpg" alt="">
                    <h3 th:text="#{producto.adelgaza}">Batido de proteínas y adelgazante</h3>
                    <p th:text="#{producto.fit}">Fit Body Plus</p>
                    <h6>₡21.130</h6>
                    <a href="cancelar"><button class="buy-8" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaNueve.jpg" alt="">
                    <h3 th:text="#{producto.vegano}">Batido de proteínas Vegan </h3>
                    <p th:text="#{producto.nu3}">Protein 3K de NU3</p>
                    <h6>₡20.130</h6>
                    <a href="cancelar"><button class="buy-9" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDiez.jpg" alt="">
                    <h3 th:text="#{producto.batido_prot}">Batido de proteínas</h3>
                    <p th:text="#{producto.carbs}">Bajo en carbohidratos de Body Attack</p>
                    <h6>₡20.000</h6>
                    <a href="cancelar"><button class="buy-10" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>  
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaOnce.jpg" alt="">
                    <h3 th:text="#{producto.weider}">Weider Proteína 100% vegetal</h3>
                    <p th:text="#{producto.vegetal}">Guisantes y arroz</p>
                    <h6>₡16.000</h6>
                    <a href="cancelar"><button class="buy-11" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaDoce.jpg" alt="">
                    <h3 th:text="#{producto.bimanan}">Bimanán Befit Batido de proteínas</h3>
                    <p th:text="#{producto.choco}">Sabor Chocolate </p>
                    <h6>₡16.000</h6>
                    <a href="cancelar"><button class="buy-12" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/proteinaTrece.jpg" alt="">
                    <h3 th:text="#{producto.sotya}">SOTYA - SOTYA Proteína Soja 90%</h3>
                    <p th:text="#{producto.fresa}">Fresa 500 gr</p>
                    <h6>₡8.000</h6>
                    <a href="cancelar"><button class="buy-13" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/sustituo.jpg" alt="">
                    <h3 th:text="#{producto.sust_comida}">Batido sustitutivo de comidas</h3>
                    <p th:text="#{producto.shake_A}">Active Shake de XLS</p>
                    <h6>₡29.000</h6>
                    <a href="cancelar"><button class="buy-14" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botella.jpg" alt="">
                    <h3 th:text="#{producto.agua}">Botella de agua medio galón/64 oz</h3>
                    <p th:text="#{producto.tritan}">Con marcador motivacional y tiempo y pajita, botella de tritan, para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                    <a href="cancelar"><button class="buy-15" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaDos.jpg" alt="">
                    <h3 th:text="#{producto.meitage}">MEITAGIE</h3>
                    <p th:text="#{producto.bot_colador}">Botella de agua motivacional de 32 oz con marcador de tiempo y colador de frutas</p>
                    <h6>₡8.000</h6>
                    <a href="cancelar"><button class="buy-16" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaCuatro.jpg" alt="">
                    <h3 th:text="#{producto.fimibuke}">Fimibuke Botella de agua de medio galón con funda </h3>
                    <p th:text="#{producto.bot_fuga}">Botella de agua de 64 oz con pajita y marcador de tiempo a prueba de fugas</p>
                    <h6>₡14.000</h6>
                    <a href="cancelar"><button class="buy-17" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaCinco.jpg" alt="">
                    <h3 th:text="#{producto.youcan}">YOUCAN PLATO</h3>
                    <p th:text="#{producto.bot_agua_funda}">Botella de agua de medio galón de 64 onzas con funda</p>
                    <h6>₡14.000</h6>
                    <a href="cancelar"><button class="buy-18" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaSeis.jpg" alt="">
                    <h3 th:text="#{producto.cristal}">Botella de agua de cristal de 2.1 lbs</h3>
                    <p th:text="#{producto.silicona}">Con tapa de silicona a prueba de fugas</p>
                    <h6>₡10.000</h6>
                    <a href="cancelar"><button class="buy-19" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellaSiete.jpg" alt="">
                    <h3 th:text="#{producto.voltrx}">VOLTRX Botella eléctrica</h3>
                    <p th:text="#{producto.mezclar}">Botella  mezclar batidos con proteínas</p>
                    <h6>₡15.000</h6>
                    <a href="cancelar"><button class="buy-20" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/botellas.jpg" alt="">
                    <h3 th:text="#{producto.alumin}">10 botellas de agua de aluminio de 20 onzas</h3>
                    <p th:text="#{producto.reutili}">Botellas reutilizables de aluminio, ligeras, con tapa a presión</p>
                    <h6>₡21.000</h6>
                    <a href="cancelar"><button class="buy-21" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <!-- ALMOHADILLAS --> 
                <div class="content">
                    <img src="images/almohadillas.jpg" alt="">
                    <h3 th:text="#{producto.gymletics}">Gymletics Paquete de 7</h3>
                    <p th:text="#{producto.almohada}">Almohadillas de sentadillas</p>
                    <h6>₡16.700</h6>
                    <a href="cancelar"><button class="buy-22" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <div class="content">
                    <img src="images/rodilleras.jpg" alt="">
                    <h3 th:text="#{producto.gymreaper}">Gymreapers Rodilleras</h3>
                    <p th:text="#{producto.correa}">con correa para sentadillas, levantamiento de pesas</p>
                    <h6>₡10.700</h6>
                    <a href="cancelar"><button class="buy-23" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <div class="content">
                    <img src="images/rodillerasUno.jpg" alt="">
                    <h3 th:text="#{producto.gymreaper}">Gymreapers Rodilleras</h3>
                    <p th:text="#{producto.correa}">con correa para sentadillas, levantamiento de pesas</p>
                    <h6>₡10.700</h6>
                    <a href="cancelar"><button class="buy-24" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <div class="content">
                    <img src="images/bolso.jpg" alt="">
                    <h3 th:text="#{producto.bolsa_viaj}">Bolsa de viaje para gimnasio</h3>
                    <p th:text="#{producto.bolsa_viaj}">Bolsa de viaje para gimnasio</p>
                    <h6>₡20.700</h6>
                   <a href="cancelar"><button class="buy-25" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <div class="content">
                    <img src="images/bolsoUno.jpg" alt="">
                    <h3 th:text="#{producto.bolsa_dep}">Bolsa deportiva de gimnasio para mujer</h3>
                    <p th:text="#{producto.bolsa_dep}">Bolsa deportiva de gimnasio para mujer</p>
                    <h6>₡15.700</h6>
                  <a href="cancelar"><button class="buy-26" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <img src="images/bolsoDOS.jpg" alt="">
                    <h3 th:text="#{producto.contender}">PUMA Evercat Contender 3.0</h3>
                    <p th:text="#{producto.bolsa_gym}">Bolsa deportiva de gimnasio</p>
                    <h6>₡15.700</h6>
                  <a href="cancelar"><button class="buy-27" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaCinco.jpg" alt="">
                    <h3 th:text="#{producto.blusa_f}">Blusa deportiva de mujer</h3>
                    <p th:text="#{producto.blusa_dep}">Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-28" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisa.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                  <a href="cancelar"><button class="buy-29" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaDos.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                   <a href="cancelar"><button class="buy-30" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaNueve.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                   <a href="cancelar"><button class="buy-31" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaTres.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                  <a href="cancelar"><button class="buy-32" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaCuatro.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                   <a href="cancelar"><button class="buy-33" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaDiez.jpg" alt="">
                    <h3 th:text="#{producto.camisa_m}">Camisas deportivas de hombre</h3>
                    <p th:text="#{producto.camisa_dep}">Camisas deportivas para entrenamiento gimnasio</p>
                    <h6>₡19.000</h6>
                  <a href="cancelar"><button class="buy-34" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaOcho.jpg" alt="">
                    <h3 th:text="#{producto.blusa_f}">Blusa deportiva de mujer</h3>
                    <p th:text="#{producto.blusa_dep}">Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                  <a href="cancelar"><button class="buy-36" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaUno.jpg" alt="">
                    <h3 th:text="#{producto.blusa_f}">Blusa deportiva de mujer</h3>
                    <p th:text="#{producto.blusa_dep}">Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-37" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaSeis.jpg" alt="">
                    <h3 th:text="#{producto.blusa_f}">Blusa deportiva de mujer</h3>
                    <p th:text="#{producto.blusa_dep}">Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                 <a href="cancelar"><button class="buy-38" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/camisaSiete.jpg" alt="">
                    <h3 th:text="#{producto.blusa_f}">Blusa deportiva de mujer</h3>
                    <p th:text="#{producto.blusa_dep}">Blusa deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                 <a href="cancelar"><button class="buy-39" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalones.jpg" alt="">
                    <h3 th:text="#{producto.pants_f}">Pantalones deportiva de mujer</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-40" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesSeis.jpg" alt="">
                    <h3 th:text="#{producto.pants_f}">Pantalones deportiva de mujer</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                  <a href="cancelar"><button class="buy-41" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesCinco.jpg" alt="">
                    <h3 th:text="#{producto.pants_f}">Pantalones deportiva de mujer</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-42" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesUno.jpg" alt="">
                    <h3 th:text="#{producto.pants_f}">Pantalones deportiva de mujer</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-43" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesDos.jpg" alt="">
                    <h3 th:text="#{producto.skirt_f}">Enagua deportiva de mujer</h3>
                    <p th:text="#{producto.skirt_dep}">Enagua deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-44" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 


                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesNueve.jpg" alt="">
                    <h3 th:text="#{producto.pants_m}">Pantalones deportiva de hombre</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-45" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesOcho.jpg" alt="">
                    <h3 th:text="#{producto.pants_m}">Pantalones deportiva de hombre</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-46" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesSiete.jpg" alt="">
                    <h3 th:text="#{producto.pants_m}">Pantalones deportiva de hombre</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                  <a href="cancelar"><button class="buy-47" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesCuatro.jpg" alt="">
                    <h3 th:text="#{producto.pants_m}">Pantalones deportiva de hombre</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-48" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/pantalonesTres.jpg" alt="">
                    <h3 th:text="#{producto.pants_m}">Pantalones deportiva de hombre</h3>
                    <p th:text="#{producto.pants_dep}">Pantalones deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-46" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/brasier.jpg" alt="">
                    <h3 th:text="#{producto.bra}">Brasier deportiva de mujer</h3>
                    <p th:text="#{producto.pants_dep}">Brasier deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-47" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/calcetines.jpg" alt="">
                    <h3 th:text="#{producto.medias}">Calcetines deportivos </h3>
                    <p th:text="#{producto.medias_dep}">calcetines deportivos para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-48" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/sueter.jpg" alt="">
                    <h3 th:text="#{producto.sueter}">Sueter deportiva de hombre</h3>
                    <p th:text="#{producto.sueter_dep}">Sueter deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-49" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div> 
                
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisDos.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-50" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisTres.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-51" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisCuatro.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                   <a href="cancelar"><button class="buy-52" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisCinco.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-53" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisSeis.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-54" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisSiete.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-55" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisOcho.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-56" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>

                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisNueve.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-57" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
                <div class="content">
                    <!-- PROTEINAS -->               
                    <img src="images/tennisUno.jpg" alt="">
                    <h3 th:text="#{producto.tenis}">Tenis deportivas</h3>
                    <p th:text="#{producto.tenis_dep}">tenis deportiva para entrenamiento gimnasio</p>
                    <h6>₡18.000</h6>
                    <a href="cancelar"><button class="buy-58" th:text="#{producto.comprar}">Comprar ahora</button></a>
                </div>
            </div>
            </body>
            </html>